<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Names</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    
    <form id="myForm">
        <div class="container-fluid">
            <div class="row">
                <center><h1>Title</h1></center>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <h2>Select BB name</h2>
                    <select id="SelName" onchange="optionChanged(this.value)"><option>Make a selection</option></select>
                    <h2>Sidebar</h2>
                    <div id= "sidebar" class="width: 100% height: 100%"></div>
                </div>
                <div class="col-sm-10">
                    <h2>Pie Chart</h2>
                    <div id= "pie" class="width: 100% height: 100%"></div>
                </div>
                
            </div>
            <div class="row">
                <h2>Bubble Chart</h2>
                <div id= "bubble"></div>
            </div>
        </div>

        <hr>
    </form>
            <script>
                var samplenamelist;
                var sidebartext;
                var hovertext = [];
                var values = [];
                var labels = [];
                var i;
                var data;
                var bubbledata;
                var botu = [];
                var bval = [];
                var blabels = [];
                
                
                function init(){
                    
                    data = [{
                        values: values,
                        labels: labels,
                        hovertext: hovertext,
                        type: "pie"
                    }];
                    bubbledata = [{
                        x: labels,
                        y: values,
                        text: hovertext,
                        mode: 'markers',
                        marker: {
                            size: values,
                            color: labels,
                            colorscale: "Portland"
                        }
                    }];
                    
                    var layout = {hovermode: "closest"};
                    Plotly.plot("pie",data,layout);
                    Plotly.plot("bubble",bubbledata,layout);
                }

                Plotly.d3.json("/names", function(error, samplenamelist){
                    for(i = 0; i < samplenamelist.length; i++) {
                        var $dropdown = d3.select("#SelName");
                        var $label = $dropdown.append("option").attr("value",samplenamelist[i]).text(samplenamelist[i]);
                    }
                    
                });
                init();
                    
                function optionChanged(route){
                
                    values=[];
                    labels=[];
                    hovertext=[];
                    
                    Plotly.d3.json(`/samples/${route}`,function(error,data){
                        labels = data.map(data => data.otu_ids)[0];
                        values = data.map(data => data.sample_values)[0];
                        labels = labels.map(Number);
                        values = values.map(Number);
                        Plotly.d3.json(`/otu`,function(error,data){
                            for (var l in labels){
                                hovertext.push(data[labels[l]]);
                            }

                            Plotly.d3.json(`/metadata/${route}`,function(error,data){
                                sidebartext=data;
                                
                                data = [{
                                    values: values,
                                    labels: labels,
                                    hovertext: hovertext,
                                    type: "pie"
                                }];


                                bubbledata = [{
                                    x: labels,
                                    y: values,
                                    text: hovertext,
                                    mode: 'markers',
                                    marker: {
                                        size: values,
                                        color: labels,
                                        colorscale: "Portland"
                                    }
                                }];

                                newdata = data; 
                                updatePlotly(labels,values,hovertext, sidebartext);  

                            });
                        });

                    });

                    function updatePlotly(labels,values,hovertext, sidebartext) {
                        var BUBBLE = document.getElementById("bubble");
                        var PIE = document.getElementById("pie");



                        
                        botu = labels;
                        bval = values;
                        blabels = hovertext;

                        bubbledata = {
                            x: [labels],
                            y: [values],
                            text: [hovertext],
                            mode: "markers",
                            marker: [{
                                size: values, 
                                color: labels, 
                                colorscale: "Portland"
                                }]
                        };
                        console.log(bubbledata);
                        Plotly.restyle(BUBBLE,bubbledata);

                        data = {
                            values: [values.splice(0,10)],
                            labels: [labels.splice(0,10)],
                            hovertext: [hovertext.splice(0,10)],
                            type: "pie"
                        };
                        Plotly.restyle(PIE, data);

                        
                        var panel = document.getElementById("sidebar");
                        panel.innerHTML = "";
                        var sidebaroutput = "Sample Metadata";
                        for(var entry in sidebartext){
                            sidebaroutput += ("<br>" + entry + ": " + sidebartext[entry]);
                        }
                        panel.innerHTML += sidebaroutput;
                    }
                }
            </script>
</body>
</html>
