<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Names</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    
    <form id="myForm">
        <div class="container-fluid">
            <div class="row">
                <center><h1>Title</h1></center>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <h2>Select BB name</h2>
                    <select id="SelName" onchange="optionChanged(this.value)">
                        <option></option>
                    </select>
                    <h2>Sidebar</h2>
                    <div id= "sidebar" class="width: 100% height: 100%"></div>
                </div>
                <div class="col-sm-5">
                    <h2>Pie Chart</h2>
                    <div id= "pie" class="width: 100% height: 100%"></div>
                </div>
                <div class="col-sm-5">
                    <h2>Bubble Chart</h2>
                    <div id= "bubble" class="width: 100% height: 100%"></div>
                </div>
            </div>
        </div>

        <hr>
    </form>
            <script>
                var samplenamelist;
                var sidebartext;
                var hovertext = [];
                var values = [];
                var labels = [];
                var i;
                var data;
                
                function init(){
                    
                    data = [{
                        values: values,
                        labels: labels,
                        hovertext: hovertext,
                        type: "pie"
                    }];
                    var layout = {};
                    Plotly.plot("pie",data,layout);
                }

                Plotly.d3.json("/names", function(error, samplenamelist){
                    for(i = 0; i < samplenamelist.length; i += 1) {
                        var $dropdown = d3.select("#SelName");
                        var $label = $dropdown.append("option").attr("value",samplenamelist[i]).text(samplenamelist[i]);
                    }
                    
                });
                init();
                    
                function optionChanged(route){
                
                    var newdata;
                    var otu;
                    values=[];
                    labels=[];
                    hovertext=[];
                    
                    Plotly.d3.json(`/samples/${route}`,function(error,data){
                        labels = data.map(data => data.otu_ids)[0].splice(0,10);
                        values = data.map(data => data.sample_values)[0].splice(0,10);
                        values = values.map(Number);
                        Plotly.d3.json(`/otu`,function(error,data){
                            for (var l in labels.map(Number)){
                                hovertext.push(data[labels[l]]);
                            }

                            Plotly.d3.json(`/metadata/${route}`,function(error,data){
                                sidebartext=data;
                                
                                data = [{
                                    values: values,
                                    labels: labels,
                                    hovertext: hovertext,
                                    type: "pie"
                                }];
                                newdata = data; 
                                updatePlotly(labels,values,hovertext, sidebartext);  

                            });
                        });

                    });

                    function updatePlotly(labels,values,hovertext, sidebartext) {

                        console.log("UPDATE PLOTLY INPUT TEST LABELS: ",labels," VALUES: ", values, "hovertext: ", hovertext);
                        var PIE = document.getElementById("pie");

                        data = {
                            values: [values],
                            labels: [labels],
                            hovertext: [hovertext],
                            type: "pie"
                        };
                        Plotly.restyle(PIE, data);

                        var panel = document.getElementById("sidebar");
                        panel.innerHTML = "";
                        var sidebaroutput = "Sample Metadata";
                        for(var entry in sidebartext){
                            sidebaroutput += ("<br>" + entry + ": " + sidebartext[entry]);
                        }
                        panel.innerHTML += sidebaroutput;
                        console.log(JSON.stringify(sidebartext));
                    }
                }
            </script>
</body>
</html>
